.message__container{
    width: 100%;
    margin: 11px 0;
    display: flex;
    justify-content: flex-end;
}

.message__container--other-user{
    width: 100%;
    margin: 7px 0;
    display: flex;
    justify-content: flex-start;
}

.message__content{
    padding: 7px;
    max-width: 60%;
    background-color: #d4ecec;
    box-shadow: -5px 5px 3px 0px rgba(0, 0, 0, 0.12);
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 8px solid #9ec3c3;
    border-bottom: 8px solid #d4ecec;
}

.message__content--other-user{
    padding: 7px;
    max-width: 60%;
    background-color: #d4ecec;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.12);
    border-top-right-radius: 3px;
    border-left: 8px solid #9ec3c3;
    border-bottom: 8px solid #d4ecec;
}

.message__user{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.message__content p, .message__content--other-user{
    word-break: break-word;
    font-size: 14px;
}

.newUser__container{
    width: 100%;
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    margin: 11px 0;
    display: flex;
    justify-content: center
}

.newUser__content{
    width: 30%;
    border-radius: 3px;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #7aa7a7;
    color: #d4ecec;
    display: flex;
    align-items: center;
    justify-content: center
}

