.sendMessage__form{
    width: 100%;
    height: 15%;
    padding: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sendMessage__input{
    height: 100%;
    width: 85%;
}

.sendMessage__button{
    height: 100%;
    width: 10%;
}

.sendMessage__button svg{
    width:70%;
    height: 70%;
}